@font-face {
    font-family: "RubikRegular";
    src: url("../fonts/RubikRegular/RubikRegular.eot");
    src: url("../fonts/RubikRegular/RubikRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RubikRegular/RubikRegular.woff") format("woff"),
    url("../fonts/RubikRegular/RubikRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
*{
    font-family: RubikRegular, sans-serif;
}
header{
    width: 100%;
    height: 100px;
}
header input{
    position: relative;
    width: 320px;
    height: 25px;
}
.list li {
    margin-left:130px;
    display: inline-block;
    width: 200px;
    padding: 10px;
}
.button {
    width: 113px;
    font-weight: bold;
}
.search{
    width: 320px;
    border: 0;
    border-bottom: 1px solid #333333;
}
#Login{
    background: red;
    border: 0;
    color: #FFFFFF;
}
#Search{
    margin-left:0;
    border: 0;
    background: #FFFFFF;
    color:red;
    width: 50px;
}

